appdirs, asgiref, cfgv, distlib, Django, filelock, identify, mccabe,
nodeenv, pycodestyle, pyflakes, pytz, PyYAML, six, sqlparse, toml,
virtualenv, gunicorn, django-heroku, whitenoise, djangorestframework